/* import font file : import has to be first line */
@import url('https://rsms.me/inter/inter.css');

/* Variable */
:root {
    /* Colors */
    --dark-purple: #342947;
    --purple: #5B20C7;
    --gray: #6D6973;
    --white: white;
    
    /* Space */
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 40px;
    --space-6: 48px;
    --space-15: 120px;
}
/* End of variable */

/* Typography Style */
html {
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    font-size: 4.5rem;
    margin: 0;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: var(--space-3);
}

p {
    line-height: 150%;
}
/* End Typography Style */

/* Section Styles */
.section {
    max-width: 1120px;
    margin: 0 auto;
    gap: 32px;
    display: flex;
}
/* End of Section Styles */

/* Navigation Styles */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-2) 0;
}

.navigation nav {
    display: flex;
    align-items: center;
    gap: var(--space-5);
}

.navigation a{
    text-decoration: none;
    font-weight: 700;
    color: var(--gray);
}

.navigation a.active {
    color: var(--purple);
}
/* End of Navigation Styles */

/* Hero Styles */
.hero {
    align-items: center;
    position: relative;
    padding: var(--space-15) 0;
    overflow: visible;
}

.hero .description {
    width: 50%;
}

.hero img {
    width: 50%;
}

.hero h1 {
    color: var(--dark-purple)
}

.hero h1 span{
    color: var(--purple);
}

.hero p {
    font-size: 1.125rem;
    margin-bottom: var(--space-5);
}

img.pattern {
    position: absolute;
    z-index: -1;
    width: auto;
}

.pattern--left {
    bottom: -58px;
    left: -105px;
}

.pattern--right {
    top: 50%;
    right: -199px;
    transform: translateY(-50%);
}
/* End of Hero Styles */


/* Components Style */
nav .button,
.button {
    background-color: var(--purple);
    color: var(--white);
    padding: var(--space-1) var(--space-6);
    font-weight: 700;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}

.button--big {
    font-size: 1.5rem;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}
/* End of Components Style */

.test {
    background: #000;
}